<style>
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Bricolage+Grotesque:opsz@10..48&family=Dancing+Script:wght@700&display=swap');
body{
    background-color: rgb(26, 24, 24);
    margin: 0;
}
header{
    background-color: black;
    height: 50px;
    padding-top: 8px;
    text-align: center;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.5rem;
}
#title{
    color: rgb(249, 46, 46);
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 30px;
}
#inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
#inp{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 500px;
    font-size: 1.2rem;
    padding: 1.2rem;
    display: block;
    margin: 2rem ;
    background-color: black;
    outline: none;
    color: rgb(98, 98, 98);
    border-radius: 10px;
    box-shadow: none;
    border: none;  
    overflow: hidden;
    width: 100%;
    height: 100%;
}
option{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: content-box;
    box-shadow: none;
    border: none;  
    outline: none;
}
select::-webkit-scrollbar {
  display: none;
}
#submit{
    background-color: rgb(249, 46, 46);
    color:black;
    padding: 0.9rem 2rem;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#submit:hover{
    background-color: rgb(244, 94, 94);
}
.results{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
p{
    color: rgb(231, 226, 226);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}
#details{
    color: rgb(221, 221, 221);
    text-align: center;
    font-family: 'ADLaM Display', cursive;
    font-size: 1.5rem;
    line-height: 3rem;
    width: 40%;
    padding:1rem 4rem;
    border-right: 1px solid rgb(149, 147, 147);
}
span{
    color: rgb(249, 46, 46);
}

</style>